<div id="index-banner" class="video-container">
	<div class="parallax">
		<%= image_tag 'background.jpg', alt: 'background', style: 'display: block; transform: translate3d(-50%, 0px, 0px);' %>
		</div>
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<br><br>
			<br><br>
		           <!-- Horizontal Card -->
		           <div class="col s12 m6">
								<div class="row center">
								</div>
								 <h1 class="header center white-text text-lighten-2">TRANSFORME CONHECIMENTO EM OPORTUNIDADES</h1>
								 <div class="row center">
									 <h5 class="header col s12 light white-text">Aprenda a investir em Crypto Moedas</h5>
								 </div>
								 <div class="row center">
									 <a href="https://shaacademy.slack.com/" id="download-button" class="btn-large waves-effect waves-light hayek-gold lighten-1" target="_blank">Comece agora</a>
								 </div>

		           </div>
						 </div>
		</div>
</div>

	<div class="row hayek-gold" style="margin-bottom:0px;">
		<br>

		<div class="col s4">
			<br>
			<script type="text/javascript">
			baseUrl = "https://widgets.cryptocompare.com/";
			var scripts = document.getElementsByTagName("script");
			var embedder = scripts[ scripts.length - 1 ];
			var cccTheme = {"General":{"background":"#ae914c"},"BigPrice":{"color":"#FFF"},"SmallPrice":{"color":"#FFF"},"Chart":{"labelColor":"#FFF"}};
			(function (){
			var appName = encodeURIComponent(window.location.hostname);
			if(appName==""){appName="local";}
			var s = document.createElement("script");
			s.type = "text/javascript";
			s.async = true;
			var theUrl = baseUrl+'serve/v1/coin/header?fsym=PIVX&tsyms=USD,EUR';
			s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
			embedder.parentNode.appendChild(s);
			})();
			</script>
		</div>

		<div class="col s8" style="margin-bottom:50px;">
		<br>
		<script type="text/javascript">
		baseUrl = "https://widgets.cryptocompare.com/";
		var scripts = document.getElementsByTagName("script");
		var embedder = scripts[ scripts.length - 1 ];
		var cccTheme = {"General":{"background":"#ae914c"},"BigPrice":{"color":"#FFF"},"SmallPrice":{"color":"#FFF"},"Chart":{"labelColor":"#FFF"}};
		(function (){
		var appName = encodeURIComponent(window.location.hostname);
		if(appName==""){appName="local";}
		var s = document.createElement("script");
		s.type = "text/javascript";
		s.async = true;
		var theUrl = baseUrl+'serve/v2/coin/header?fsyms=BTC,ETH,XMR,LTC,DASH&tsyms=USD,EUR,CNY,GBP';
		s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
		embedder.parentNode.appendChild(s);
		})();
		</script>
		</div>
	</div>
</div>



	<!--	<div class="container">
	<div class="section">

		<!--   Icon Section
		<div class="row">
			<br>
			<br>
				 <h4 class="center">
CONTEÚDOS GRATUITOS</h4>
<br>
<br>
			<div class="col s12 m4">
				<div class="icon-block">


		<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-courses.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Como obter Cryptomoedas</span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold" href="/project/como-obter-cryptomoedas"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Hoje, quem deseja começar pode conseguir suas primeira moedas de três maneiras: minerando, comprando moedas..
</p>
			</div>
		</div>


				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
				<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-courses.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Como declarar Cryptomoedas no Imposto de Renda</span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold" href="/project/como-declarar-cryptomoedas-no-imposto-de-renda"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Mas, mesmo que a proposta pareça coerente, desconfie e siga os próximos passos para proteger ao máximo o seu investimento.
</p>
			</div>
		</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-courses.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Como funciona o Blockchain </span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold" href="/project/como-funciona-o-blockchain"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Bitcoin foi o investimento que mais se valorizou no último ano. Em 2017 diversas Crypto Moedas já valorizaram mais de 100%.
					</p>
			</div>
		</div>
				</div>
			</div>
			</div>
<div class="row">
	<br>
				<h4 class="center">
CURSOS DISPONÍVEIS</h4>
<br>
				<div class="col s12 m4">
				<div class="icon-block">


		<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-blue-coin.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Aprenda a investir em Crypto Moedas</span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Hoje, quem deseja começar pode conseguir suas primeira moedas de três maneiras: minerando, comprando moedas..
</p>
			</div>
		</div>


				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
				<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-blue-coin.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Como proteger seus Bitcoins</span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Mas, mesmo que a proposta pareça coerente, desconfie e siga os próximos passos para proteger ao máximo o seu investimento.
</p>
			</div>
		</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<div class="card">
			<div class="card-image">
				<%= image_tag 'satoshi-blue-coin.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
				<span class="card-title">Investindo em Crypto derivativos </span>
				<a class="btn-floating halfway-fab waves-effect waves-light hayek-gold"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<p>Bitcoin foi o investimento que mais se valorizou no último ano. Em 2017 diversas Crypto Moedas já valorizaram mais de 100%.</p>
			</div>
		</div>
				</div>
			</div>


		</div><!-- End row -->
		<!--<div class="row">
			<a href="/" class="hayek-text-dark right-align"><h4>Conheça todos os nossos Nanodegrees ></h4></a>
		</div>

	</div>
</div> -->

   <div class="parallax-container center-align">
    <div class="section" style="padding-top:50px;">
      <div class="container">
        <div class="row center">
            <h4 class="white-text">COMO FUNCIONA O BLOCKCHAIN DO BITCOIN

</h4>
          <h5 class="header col s12 light white-text">
Uma rede descentralizada de comunicação entre processadores/computadores, na qual cada processador que roda o Software do Bitcoin funciona como um “nó/arquivo” dos Registros inseridos no Blockchain (Atualmente são mais de 6  mil processadores rodando constantemente o Blockchain).  </h5>

<iframe width="360" height="215" src="https://www.youtube.com/embed/Lx9zgZCMqXE" frameborder="0" allowfullscreen style="margin-top:30px;"></iframe>
				</div>
           <div class="row center">

        <!--  <a href="/" id="download-button" class="btn-large waves-effect waves-light hayek-gold lighten-1">Fale Conosco</a> -->

        </div>
      </div>
    </div>
    <div class="parallax">
    	<%= image_tag 'veludin.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);' %>
    </div>

  </div>


<!-- Why cards -->
<div class="container">
<div class="section">

<!--   Icon Section   -->
<div class="row">
	<br>
<h4 class="center">
Descubra mais sobre Crypto Moedas
</h4>
<br>
	<div class="col s12 m6">
		<div class="icon-block">


<div class="card">
	<div class="card-content">

		<p>Acelere seu aprendizado com certificações desenvolvidas em parceria com as empresas mais inovadoras do mundo.
Aumente seu nível de qualificação e aumente sua capacidade de investimentos financeiros.
</p>
	</div>
</div>


		</div>
	</div>

	<div class="col s12 m6">
		<div class="icon-block">
		<div class="card">

	<div class="card-content">

		<p>
Diversifique seu portifolio com Cryptomoedas entre elas: Bitcoin, Litecoin, Dashcoin e outras.
Aumente seu nível de qualificação em investimentos crypto financeiros e aumente sua capacidade de independência financeira.
</p>
	</div>
</div>
		</div>
	</div>
</div><!-- End row -->
<div class="row center">

<a href="https://shaacademy.slack.com/" id="download-button" class="btn-large waves-effect waves-light hayek-gold lighten-1">Junte-se a nós</a>

</div>
</div>
</div>

<!-- End Why cards -->

<!-- <div class="card z-depth-3">
	<div class="card-content white-text">
		<div class="row">
		<!--	<div class="col m6">
				<a class="twitter-timeline" href="https://twitter.com/Code4Startup" data-widget-id="587633580509044736">Tweets by @Code4Startup</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
<!--			<div class="col m6">
				<div class="card-panel grey lighten-5 z-depth-1">
					<div class="row valign-wrapper">
						<div class="col m3">
							<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
						</div>
						<div class="col m9">
							<span class="black-text">
								I don't know what to say. Let the world tell you more... :)
							</span>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<div class="center-align">
	<div class="section">


		<div class="row">
			<br>
			<br>
				 <h4 class="center dark-text">
Projetos que apoiamos</h4>
<br>
<br>
			<div class="col s12 m4">
				<div class="icon-block">
					<a href="https://www.aeternity.com/" target="_blank">
					<%= image_tag 'aeternity_logo.png', alt: 'image', style: 'height:200px;' %>
</a>


				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<a href="https://medium.com/" target="_blank">
					<%= image_tag 'moeda.png', alt: 'image', style: 'height:300px;' %>
					</a>
					</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
<a href="https://humaniq.co/" target="_blank">
					<%= image_tag 'humaniq.png', alt: 'image', style: 'height:200px;' %>
					</a>
				<!--	<h5 class="center white-text">Acesse conhecimentos de ponta</h5>

					<p class="light white-text">
						Fique por dentro de tudo que está rolando no Vale do Silício e em outros sedes de conhecimento mundial.
					</p> -->

				</div>
			</div>
		</div>

	</div>
	<br><br>

</div>
