<!DOCTYPE html>
<html>
	<head>
	  <title>Satoshi&Hayek</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
		<%= yield :head %>

		<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	</head>
	<body>

		<%= render partial: "shared/header" %>
		<%= render partial: "shared/message" %>

		<main>
			<div class="home-container">
				<%= yield %>
			</div>
		</main>

		<%= render partial: "shared/footer" %>
<script src="https://checkout.stripe.com/checkout.js"></script>
	</body>

	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</html>
